<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add List</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('navbar') %>

        <div class="container">
            <h1>Task list page</h1>

            <form action="/multi-delete" method="post">
                <button class="delete-item" style="margin-bottom: 10px;">
                    Delete selected item
                </button>

                <ul>
                    <% for (let task=0; task < result.length; task++) { %>
                        <li>
                            <input type="checkbox" name="selectedTask" value="<%= result[task]._id %>">

                            <div>
                                <%= result[task].title %>
                            </div>
                            <div>
                                <%= result[task].description %>
                            </div>

                            <a href="/delete/<%= result[task]._id %>" class="delete-item">Delete</a>
                            <a href="/update/<%= result[task]._id %>" class="update-item">Update</a>
                        </li>
                        <% } %>
                </ul>
            </form>
        </div>
</body>

</html>